header {
    font-family: var(--Anton);
    position: relative;
}

.about{
    gap: clamp(1rem, 0.3571rem + 3.4286vw, 2.5rem);
}

footer {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    background-color: var(--gray);
    padding: clamp(1rem, 0.5714rem + 2.2857vw, 2rem);
}

@media (min-width: 400px) {
    footer {
        justify-content: space-between;
        flex-direction: row;
    }
}

@media (min-width: 500px) {
    footer {
        justify-content: center;
        gap: 5rem;
    }
}


@media screen and (max-height: 380px) {
    .about{
        gap: clamp(1rem, 0.8214rem + 2.8571vh, 1.5rem);
    }
}