header {
    font-family: var(--Anton);
    position: relative;
}

.about{
    gap: clamp(1rem, 0.3571rem + 3.4286vw, 2.5rem);
}


@media screen and (max-height: 380px) {
    .about{
        gap: clamp(1rem, 0.8214rem + 2.8571vh, 1.5rem);
    }
}