@import "./variables.css";
@import "./functions.css";
/* Scrollbar */
@import "./scrollbar.css";
/* Containers */
@import "./containers.css";
/* Nav */
@import "./nav/nav.css";
/* Header */
@import "./header/presentation.css";
@import "./header/social-media.css";
@import "./header/scrolldown.css";
/* About */
@import "./main/about.css";
/* Technologies */
@import "./main/technologies.css";
@import "./main/my-projects.css";
/* Footer */
@import "./footer/contacts.css";
/* Decoration */
@import "./decoration/decoration-header.css";
@import "./decoration/decoration-about.css";
@import "./decoration/decoration-tec.css";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    font-family: var(--Inter);
    color: var(--slate);
}