.hello-social-media {
    display: flex;
} 

.social-media {
    display: flex;
    gap: clamp(0.5rem, 0.2857rem + 1.1429vw, 1rem);
}

.social-media-links {
    text-decoration: none;
    transition: all .3s ease-in-out;
}

.social-media-links img {
    width: clamp(1.5rem, -1.1429rem + 11.4286vw, 3rem);
}

.social-media-links:hover {
    transform: scale(125%);
}

@media screen and (max-height: 380px) {
    .social-media-links img {
        width: clamp(1rem, 0.8214rem + 2.8571vh, 1.5rem);
    }
}