.about h2 {
    font-size: clamp(1rem, 0.1429rem + 4.5714vw, 3rem);
    font-weight: normal;
}

.about ul{
    width: 90%;

    display: flex;
    align-items: flex-start;
    flex-direction: column;

    gap: clamp(0.5rem, 0.0714rem + 2.2857vw, 1.5rem);
    
    list-style-type: none;
    font-size: clamp(0.9rem, 0.6429rem + 1.3714vw, 1.5rem);
}

@media (max-height: 380px) {
    .about h2 {
        font-size: clamp(0.8rem, 0.6571rem + 2.2857vh, 1.2rem);
    }

    .about ul {
        gap: clamp(0.2rem, 0.0929rem + 1.7143vh, 0.5rem);
        font-size: clamp(0.8rem, 0.7286rem + 1.1429vh, 1rem);
    }
}

 